


<div class= "row center">
    <div class= "col-md-8 col-md-offset-2 well">
        <%= form_for @openings do |f| %>
           <%= f.label :position %>
           <%= f.text_field :position %>
           
           <%= f.label :replacing %>
           <%= f.text_field :replacing%>
           
           <%= f.label :employee%>
           <%= f.text_field :emp%>
           
           <%= f.label :reason%>
           <%= f.text_field :reason%>
           
           <%= f.label :action%>
           <%= f.text_field :action%>
           
           <%= f.label :shift%>
           <%= f.text_field :shift%>
           
           <%= f.label :department %>
           <%= f.text_field :dept%>
           
           <%= f.label :schedule%>
           <%= f.text_field :schedule%>
           
           <%= f.label :status%>
           <%= f.text_field :status%>
           
           <%=f.submit 'Update Request', class: "btn btn-primary" %>
        <% end %>
    </div>
</div>